<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
	<div align="center">
	    <h1> La liste de personne inscript</h1>
	     <a href="/Ajouter_Personne">Inscrit nouvelle personne</a>
	    <br/><br/>
	    <table border="1" cellpadding="10">
	        <thead>
	            <tr>
	                <th>Personne ID</th>
	                <th>CIN</th>
	                <th>Nom</th>
	                <th>Prenom</th>
	                <th>Diplome</th>
	                <th>email</th>
	                <th>Numero_Tel</th>
	                <th>tache</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:each="personne : ${listPersonne}">
	                <td th:text="${personne.id}">Personne ID</td>
	                <td th:text="${personne.CIN}">CIN</td>
	                <td th:text="${personne.Nom}">Nom</td>
	                <td th:text="${personne.Prenom}">Prenom</td>
	                <td th:text="${personne.Diplome}">Diplome</td>
	              	<td th:text="${personne.email}">Email</td>
	                <td th:text="${personne.Numero_Tel}">Numero_Tel</td>
	                <td th:text="${personne.tache}">Tache</td>
	                <td>
	                    <a th:href="@{'/personne/edit/' + ${personne.id}}">Edit</a>
	                    &nbsp;&nbsp;&nbsp;
	                    <a th:href="@{'/personne/delete/' + ${personne.id}}">Delete</a>
	                </td>
	            </tr>
	        </tbody>
	    </table>
	</div>  
</body>
</html>