<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>
	 <div align="center">
        <h1>Ajouter une nouvelle activite</h1>
        
         <a href="/affiche_activite">liste d'activite</a>
        <br />
         <a href="/moniteur"> Moniteur inscrit</a>
        <br />
        <a href="/Ajouter_Benificier"> Benificier inscrit</a>
        <br />
        <a href="/Ajouter_fiche_medicale"> Fiche Medicale  inscrit</a>
        <br />
        <a href="/Ajouter_Personne"> Personne inscrit</a>
        <br />
        <form action="#" th:action="@{/saveactivite}" th:object="${activite}"
            method="post">
 		
            <table border="0" cellpadding="10">
               <tr>
                    <td>Type d'activite:</td>
                    <td><input type="text" th:field="*{Type_Activite}" /></td>
                </tr>
                <tr>
                    <td>Nom d'activite:</td>
                    <td><input type="text" th:field="*{Nom_Activite}" /></td>
                </tr>
                <tr>
                    <td>Outils:</td>
                    <td><input type="text" th:field="*{Outils}" /></td>
                </tr>
                <tr>
                    <td>Nombre de participants:</td>
                    <td><input type="number" th:field="*{nombre_Participants}" /></td>
                </tr>
              
                <tr>
                    <td>Objectif :</td>
                    <td><input type="text" th:field="*{Objectif}" /></td>
                </tr>
                <tr>
                    <td>Categorie Cible:</td>
                    <td><input type="text" th:field="*{Categorie_Cible}" /></td>
                </tr>    
                   
                <tr>
                    <td>Description :</td>
                    <td><input type="text" th:field="*{Description}" /></td>
                </tr>                  
                <tr>
                    <td colspan="2"><button type="submit">Enregistrer</button> </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>